@model WeddingInvitation.Models.AccountDetailsModel
@{
    ViewBag.Title = "Edit Account";
}

<div class="bg_wireless">
    <div class="site">
        Edit Account</div>
</div>
@using (Html.BeginForm("Edit", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.Partial("_AccountViewDetails", ViewData)
}
<div class="userdetail">
    <div id="userdetail">
        <h1>
            New account</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
            <br>
            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
            soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
            facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.<br>
            <br>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo.
            <br>
            <br>
        </p>
    </div>
</div>
